---
import { SITE, LINKS } from "@consts"
import { cn } from "@lib/utils"
const { pathname } = Astro.url
const subpath = pathname.match(/[^/]+/g)
import Container from "@components/Container.astro"
---

<header id="header" class="fixed top-0 w-full h-16 z-50">
  <Container size="lg">
    <div class="flex items-center justify-between h-full">

      <!-- Logo + Nombre + Menú -->
      <div class="flex items-center gap-12">

        <a
          href="/"
          class="flex items-center gap-2 font-semibold text-current hover:text-black dark:hover:text-white transition-colors duration-300"
        >
          <svg class="size-6 fill-current">
            <use href="/brand.svg#brand"></use>
          </svg>

          <span>{SITE.TITLE}</span>
        </a>

        <nav class="hidden md:flex items-center gap-1">
          {
            LINKS.map((LINK) => (
              <a
                href={LINK.HREF}
                class={cn(
                  "h-8 rounded-full px-3 flex items-center justify-center transition-colors duration-300 ease-in-out",
                  pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF
                    ? "bg-black dark:bg-white text-white dark:text-black"
                    : "hover:bg-black/5 dark:hover:bg-white/20 hover:text-black dark:hover:text-white"
                )}
              >
                {LINK.TEXT}
              </a>
            ))
          }
        </nav>

      </div>

      <!-- Botones derecha -->
      <div class="flex items-center gap-1">

        <a
          href="/search"
          aria-label={`Buscar`}
          class={cn(
            "hidden md:flex size-9 rounded-full p-2 items-center justify-center",
            "border border-black/10 dark:border-white/25",
            "hover:bg-black/5 dark:hover:bg-white/20 transition-colors",
            pathname === "/search"
              ? "bg-black dark:bg-white text-white dark:text-black"
              : ""
          )}
        >
          <svg class="size-full fill-none stroke-current">
            <use href="/ui.svg#search"></use>
          </svg>
        </a>

        <a
          href="/rss.xml"
          target="_blank"
          aria-label="RSS"
          class="hidden md:flex size-9 rounded-full p-2 items-center justify-center border border-black/10 dark:border-white/25 hover:bg-black/5 dark:hover:bg-white/20 transition-colors"
        >
          <svg class="size-full fill-none stroke-current">
            <use href="/ui.svg#rss"></use>
          </svg>
        </a>

        <button
          id="header-theme-button"
          aria-label="Cambiar tema"
          class="hidden md:flex size-9 rounded-full p-2 items-center justify-center border border-black/10 dark:border-white/25 hover:bg-black/5 dark:hover:bg-white/20 transition-colors"
        >
         <svg class="size-full fill-none stroke-current block dark:hidden">
            <use href="/ui.svg#sun"></use>
          </svg>

          <svg class="size-full fill-none stroke-current hidden dark:block">
            <use href="/ui.svg#moon"></use>
          </svg>
        </button>

        <button
          id="header-drawer-button"
          aria-label="Abrir menú"
          class="flex md:hidden size-9 rounded-full p-2 items-center justify-center border border-black/10 dark:border-white/25 hover:bg-black/5 dark:hover:bg-white/20 transition-colors"
        >
          <svg id="drawer-open" class="size-full fill-none stroke-current">
            <use href="/ui.svg#menu"></use>
          </svg>

          <svg id="drawer-close" class="size-full fill-none stroke-current">
            <use href="/ui.svg#x"></use>
          </svg>
        </button>

      </div>

    </div>
  </Container>
</header>

<style>
  #header-drawer-button > #drawer-open {
    @apply block;
  }

  #header-drawer-button > #drawer-close {
    @apply hidden;
  }

  #header-drawer-button.open > #drawer-open {
    @apply hidden;
  }

  #header-drawer-button.open > #drawer-close {
    @apply block;
  }
</style>

<script is:inline>
  function toggleDrawer() {
    const drawer = document.getElementById("drawer")
    const drawerButton = document.getElementById("header-drawer-button")
    drawer?.classList.toggle("open")
    drawerButton?.classList.toggle("open")
  }

  function initializeDrawerButton() {
    const drawerButton = document.getElementById("header-drawer-button")
    drawerButton?.addEventListener("click", toggleDrawer)
  }

  document.addEventListener("astro:after-swap", initializeDrawerButton)
  initializeDrawerButton()
</script>
