---
type Props = {
  text: string
  icon: string
  href: string
}

const { text, icon, href } = Astro.props
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="w-fit px-3 py-2 group rounded border flex items-center gap-2 border-neutral-200 dark:border-neutral-700 hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-colors"
>
  <svg
    width="20"
    height="20"
    class="shrink-0"
    aria-hidden="true"
  >
    <use href={`/stack.svg#${icon}`}></use>
  </svg>

  <span class="text-sm font-medium text-neutral-600 dark:text-neutral-300 group-hover:text-black dark:group-hover:text-white transition-colors">
    {text}
  </span>
</a>